@import url(https://fonts.googleapis.com/css?family=Poppins:700);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:600);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #E4E1DB;
	font-size: 18px;
	text-align: center;
	position: relative;
	display: block;
}

article {
	font-family: "Merriweather", serif;
	font-size: 1.2em;
}

p {
	font-family: "Merriweather", serif;
	font-size: 1em;
}

hr {
	background-color: black;
	height: 5px;
	width: 15%;
	margin: 1em auto;
}

footer {
	background-color: #828782;
	min-height: 100px;
	padding: 10%;
}

nav {
	float: right;
}

nav a:link {
	font-family: "Raleway", sans-serif;
	color: #3A7ABA;
	margin: 1em;
	text-decoration: none;
}

h1 {
	font-family: "Poppins", sans-serif;
	font-size: 5em;
	color: #3A7ABA;
	padding: 100px 0 0 20px;
}

h2 {
	font-family: "Poppins", sans-serif;
	font-size: 1.5em;
	padding: 2% 0;
}

h3 {
	font-family: "Poppins", sans-serif;
	font-size: 1.2em;
	padding: 10px;
}

img {
	max-width: 250px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content:"";
	clear: both;
	height: 0;
}

.services {
	width: 28%;
	margin: 2.2%;
	padding: 10px;
	border: 1px solid black;
	float: left;
	font-size: .8em;
}

.info {
	width: 40%;
    margin: 5%;
    padding: 10px;
    float: left;
}

#lander {
	background: url(../images/people_at_startup.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 2%;
	width: 100%;
	height: 600px;
}

#two_column {
	background: #BABABA;
}

#hire {
	border: 1px solid #3A7ABA;
	padding: 10px;
}

@media only screen and (max-width: 1200px) {
	#lander {
		height: 500px;
	}

@media only screen and (max-width: 1000px) {
	body {
		font-size: 16px;
	}
	#lander {
		height: 375px;
	}
}

@media only screen and (max-width: 650px) {
	body {
		font-size: 14px;
	}
	h1 {
		font-size: 3em;
	}
	.services {
		float: none;
		width: 90%;
		margin: 5%;
	}
	.info {
		float: none;
		width: 85%;
		margin: auto;
	}
	#lander {
		height: 250px;
	}
}

@media only screen and (max-width: 450px) {
	h1 {
		font-size: 2.5em;
	}

